{
    "tabWidth": 4,
    "useTabs": true,
    "singleQuote": true,
    "printWidth": 100,
    "bracketSameLine": true,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}